<div class="col-xs-12">
  <form (ngSubmit)="onSubmit()" [formGroup]="recipeForm">
      <h3>Edit Recipe {{recipe.name}} !!</h3>
      <label>Name</label>
      <input class="form-control" formControlName="recipeName">
    <div style="margin-top: 5px">
      <label>Description</label>
      <textarea class="form-control" formControlName="recipeDescription" rows="4"></textarea>
    </div>
      <div style="margin-top: 5px">
        <label>imageUrl</label>
        <input type="text" class="form-control" formControlName="imageUrl"/>
      </div>
    <button style="margin-top: 15px" class="btn btn-primary" type="submit">Save Changes</button>
    <div style="margin-top: 20px">
    <ul class="list-group"><b>Recipe Ingredients</b> :
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredient" style="margin-top: 5px ; cursor: pointer">
        {{ingredient.name}} ({{ingredient.amount}})
      </li>
    </ul>
    <button class="btn btn-success" type="button">Add</button>
    <button class="btn btn-danger" style="margin-left: 3px" type="button">Delete</button>
     <div class="row" style="margin-top: 20px" *ngIf="false">
       <div class="col-xs-7">
       <input type="text" class="form-control" formControlName="ingredientName">
       </div>
       <div class="col-xs-3">
       <input type="number" class="form-control" formControlName="ingredientAmount">
       </div>
       <div class="col-xs-2">
         <button type="button" class="btn btn-danger">X</button>
       </div>
       </div>
       </div>
  </form>
</div>


